html {
    touch-action: manipulation;
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 200;
    margin: 0;
    position: relative; /* 位置を相対的に設定 */
}

.stopwatch {
    text-align: center;
    background: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* 幅を100%に設定 */
    position: absolute; /* 絶対位置に設定 */
    top: 242px; /* 縦中央 */
    left: 50%; /* 横中央 */
    transform: translate(-50%, -50%); /* 中央に配置 */
}

#display {
    font-size: 90px;
    margin-bottom: 20px;
    color: white;
}

button {
    padding: 10px;
    font-size: 14px;
    margin: 20px 70px 20px 70px;
    cursor: pointer;
    width: 80px; /* ボタンの幅を固定 */
    height: 80px; /* ボタンの高さを固定 */
    border: none; /* ボーダーを消去 */
    border-radius: 50%; /* 円形にする */
    background-color: #007bff; /* ボタンの背景色 */
    color: white; /* テキストの色 */
    transition: background-color 0.3s; /* ホバー時の色変更アニメーション */
}

#start {
    background-color: green; /* 開始ボタンを緑色に */
}

#stop {
    background-color: red; /* 停止ボタンを赤色に */
}

#lap, #reset {
    background-color: gray; /* リセットとラップボタンを灰色に */
}

button:hover {
    background-color: #0056b3; /* ホバー時の色 */
}

/* ラップタイムのスタイル */
#laps div {
    color: white; /* ラップタイムのテキストを白に */
    margin-top: 20px; /* ボタンとラップタイムの間に余白を追加 */
}   

/* 無効な状態のスタイル */
.disabled {
    opacity: 0.5; /* 透明度を上げる */
    cursor: not-allowed; /* カーソルを変更 */
}
